.button {
  margin: 5px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 6px;
color: #FFFFFF;
font-family: Verdana;
font-size: 20px;
font-weight: 100;
padding: 10px;
background-color: #5BF6AE;
box-shadow: 1px 1px 20px 0px #000000;
-webkit-box-shadow: 1px 1px 20px 0px #000000;
-moz-box-shadow: 1px 1px 20px 0px #000000;
text-shadow: 1px 1px 20px #000000;
border: solid #337FED 1px;
text-decoration: none;
display: inline-block;
cursor: pointer;
text-transform: uppercase;

}
.button:disabled{
  background-color: #E0F6E4;
}
.button:disabled:hover{
  background-image: none;
  background-color: #E0F6E4;
}
.button:hover {
background: #4DD063;
background-image: -webkit-linear-gradient(top, #4DD063, #9DF6AC);
background-image: -moz-linear-gradient(top, #4DD063, #9DF6AC);
background-image: -ms-linear-gradient(top, #4DD063, #9DF6AC);
background-image: -o-linear-gradient(top, #4DD063, #9DF6AC);
background-image: linear-gradient(to bottom, #4DD063, #9DF6AC);
text-decoration: none;
}
