.buttonsContainer{
  position: absolute;
  left: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  width: 600px;
  height: 300px;
  background-color: rgba(221, 211, 136, 0.5);
}
.buttonsContainer span{
  font-size: 20px;
  font-weight: 600;
position: absolute;
padding: 20px;
left: 120px;
color: rgb(196, 93, 159);
}
